.signup {

    border-bottom: 1px solid rgba(73, 73, 73, 0.158);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7rem;
        padding: 0 2rem;

        &::after {
            content: '';
            width: 1px;
            height: 8rem;
            background-color: rgba(73, 73, 73, 0.158);
            display: inline-block; 
        }
        
        h2 {
            font-size: 3.5rem;
            color: $text-grey-dark;
            opacity: 0.8; 
        }

        p {
            max-width: 104rem;
            text-align: center;
            padding: 0 5rem;
            margin: 0 0 4rem 0;
            font-size: 1.6rem;
            line-height: 1.5;
            color: $text-grey-light;
        }

        .btn {
            color: $white;
            background-color: $btn-green;
            opacity: 0.8;
            padding: 1.5rem 4rem;
            font-size: 1.9rem;
            transition: 1s opacity;
            text-transform: uppercase;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}

@media (max-width: 768px) {
   .signup {
       &__container {
        h2 {
            font-size: 2.5rem;
            text-align: center;
        }
       }
   } 
}



