// Layout size

$main-width: 120rem;


// Colors 
$dark-grey: rgb(44, 44, 44);
$light-grey:  rgb(241, 241, 241);
$btn-green: rgb(35, 134, 79);
$white: #fff;

$text-grey-light: rgb(94, 94, 94);
$text-grey-dark: rgb(58, 58, 58);