.features {
    background-color: $light-grey;
}

.features-section {
    max-width: $main-width;
    margin: 5rem auto;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    grid-gap: 2rem;

    @media(max-width: 990px) { 
        max-width: none;
        padding: 0 1rem;
        margin: 2.5rem auto;
    }


}

.feature {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 3rem 0;
    transform-origin: top center;

    @media(max-width: 450px) { 
        grid-template-columns: 1fr 4fr;
        grid-column-gap: 10px;
    }

    img {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 6rem;
        height: 6rem;
    }

    &__text {

        color: $text-grey-dark;

        h2 {
            font-size: 1.8rem;
            margin-top: 0;
        }

        p {
            color: $text-grey-light;
            font-size: 1.4rem;
            line-height: 1.7;
            padding-right: 6rem;

            @media(max-width: 500px) { 
                color: $text-grey-light;
                font-size: 1.4rem;
                line-height: 1.5;
                padding-right: 6rem;
                padding-right: 10px;
            }
        }

        a {
            text-decoration: none;
            font-size: 1.3rem;
            color: currentColor;
            font-weight: 700;
            transition: .5s color;

            &:hover  {
                color: $btn-green;
            }
        }
    }

}